<h1><%= @whose %> Wikis</h1>

<% if policy(Wiki.new).create? %>
  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success' %>
<% end %>

<% @wikis.each do |wiki| %>
  <p><%= link_to wiki.title, wiki %></p>
  <small>
    submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %><br/>
  </small>
<% end %>
